.what_container{
    width: 90%;
    overflow: hidden;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    gap: 10px;
}
.what_container .left{
    width: fit-content;
    padding-top: 40px;
}
.what_container .left h1{
    font-weight: 500;
    font-size: 23px;
}

.left .left_in{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
}
.left_in .skills{
    padding: 15px;
    background-color: #1c1b23;
    border-radius: 10px;
    color: gray;
    margin-bottom: 20px;
    
    min-height: 300px;
}

.skills .skill_con{
    margin-top: 20px;
    max-width: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    gap: 10px;
}
.skill_con p{
    padding: 7px;
    background-color: rgb(20, 20, 29);
    border-radius: 5px;
    font-size: small;
    
}

.what_container .right{
    width: 23%;
    min-height: 400px;
    /* margin-top: 30px; */
    background-color: #1c1b23;
    padding-left: 20px;
    padding-top: 40px;
    border-radius: 5px;
}
.what_container .right h1{
    font-weight: 500;
    font-size: 23px;
    
}
.right .more_pro{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.more_pro .m_pro{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: gray;
}
.m_pro .s_dis{
    width: 130px;
    font-size: 11px;
    font-weight: 100;
    color: gray;
}
.s_dis h3{
    font-size: 17px;
}